# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Entorno
.env
*.env.local

# Node
node_modules/
.next/
dist/
build/

# Bases de datos locales
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp

# Docker
.docker/

# OS
.DS_Store
Thumbs.db